body,html
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1f1e1e;
    scrollbar-width: none;
    -webkit-text-size-adjust: auto;
    scroll-snap-type:y mandatory;
}

.top-rotate 
{}

.snapd
{
    scroll-snap-align: start ;
}

.head-container-width
{
    width: 29vw;   
}

.mid-text-container
{
    width: 29vw;
}

.welcome-line
{
    height: 50px;
    border-left: 6px solid white;
    width: 1px;
}

.top-text
{

    top: -10vh;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.lalezar-regular {
    font-family: 'Lalezar', system-ui;
    font-weight: 400;
    font-style: normal;

}

.lexend {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  
  

.spacing-small{
    letter-spacing: 0.04vw;
}

.page-2
{
    background-image: url("./img/bg1.jpg");
    background-size: cover;
    background-position: center;
}

.mid-container
{
    width: 80vw;
    height: 100%;
}

.content1
{
    width: 66%;
}
.content2
{
    margin-left: 8vw;
}

.legacy-line
{
    border-top: 0.5vw solid white;
    border-left: 0.5vw solid white; 
    width: 7vw;
    height: 8vw;
    display: flex;
    position: relative;
    left: vw;
    top: -1vw;
}

.icon-margin
{
    margin-left: 1vw;
    margin-right: 1vw;
}

.top-top-line
{
    top: 1.3vw;
    width: 7vw;
    height: 0vw;
    position: absolute;
    border-top: 0.8vw solid white;
}

.top-left-line
{
    border-left: 0.9vw solid white;
    position: absolute;
    width: 0vw;
    height: 4vw;
    top: 1.3vw;

}

.bottom-bottom-line
{
    border-bottom: 0.8vw solid white;
    width: 7vw;
    height: 0vw;
    bottom: 1.3vw;
    position: absolute;
    right: 0;
}

.bottom-right-line
{
    border-right: 0.8vw solid white;
    width: 0vw;
    height: 4vw;
    right: 0;
    position: absolute;
    bottom: 1.3vw;
}