@keyframes arrow-move {
    0% {transform: translate(0,0);}
    50%{transform: translate(0,20px);}
    100%{transform: translate(0,0);}
}

.nav-btn>button:hover
{
    background-image: linear-gradient(to bottom,transparent,rgba(192, 192, 192, 0.219));
    -webkit-filter: blur(9px);
}